@import '~office-ui-fabric-react/dist/sass/References.scss';

.alert{
  animation: fadein 300ms ease-in;
  background-color: whitesmoke;
}
.alertBackground{
  background-color: rgba(134, 143, 148, 0.3);
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

