@import '~office-ui-fabric-react/dist/sass/References.scss';

.alert{
  animation-name: dropDown 300ms ease-in-out forwards;
}
@keyframes dropDown{
  0% { transform: translateY(0);}
  100% { transform: translateY(40);}
}
